body {
    font-family: 'Times New Roman', Times, serif;
}

.px-2 {
    padding-right: 0.5rem!important;
    padding-left: 1.5rem!important;
  
}

.nav-link1 {
    text-decoration: none;
    position: relative;
    top: 9px;
    text-transform: uppercase;
    font-weight: 600;
}
.nav-link {
    font-size: 14px;
    position: relative;
    top: 2px;
    left: 4px;
    font-weight: 400;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.row4 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.row1 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin: -151px -15px;
}
.row2 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin: -191px -15px;
}

.firee {
    width: 105%;
    height: 550px;
    position: relative;
    top: -77px;
}
.firee1 {
    width: 75%;
    height: 414px;
    position: relative;
    top: -77px;
}
.firee2 {
    width: 75%;
    height: 414px;
    position: relative;
    left: 155px;
}
.border {
     border: none;
}
.position-relative {
    position: relative!important;
}
.shadow-sm {
    box-shadow:none;
}
.button {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #AFACAD;
    font-size: 13px;
    top: -163px;
    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    padding: 6px 27px;
    width: 19%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
}
.button1 {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #AFACAD;
    font-size: 13px;
    top: 121px;
    left: -107px;
    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    padding: 6px 27px;
    width: 19%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
}
.button2 {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #AFACAD;
    font-size: 13px;
    top: 121px;
    left: 96px;
    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    padding: 6px 27px;
    width: 19%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
}
.button3 {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #AFACAD;
    font-size: 13px;
    top: -35px;
    left: 919px;
    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    padding: 10px 20px;
    width: 19%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
}
.text-muted5 {
    --bs-text-opacity: 1;
    color: #6c757d!important;
    position: relative;
    top: 62px;
    left: -271px;
}
.social {
    width: 40px;
    height: 40px;
    border: 2px solid #B7B7B7;
    border-radius: 50%;
    padding: 4px;
}
.justify-content-center {
    justify-content: center!important;
    margin-right: -66px;
}
.line {
    position: relative;
   
    
    top: -510px;
    left: 403px;
    width: 16%;
     
}
.line2 {
    position: relative;
    top: -486px;
    left: 395px;
    width: 31%;
}
.line3 {
    position: relative;
    top: -90px;
}
     

.card-text {
    position: relative;
    top: 160px;
    
}
.title {
    position: relative;
    top: 130px;
    font-size: 40px;
}
.title1 {
    position: relative;
    top: 78px;
    left: -110px;
    font-size: 26px;
}
.title2 {
    position: relative;
    top: 78px;
    left: 100px;
    font-size: 26px;
}
.title3 {
    position: relative;
    text-align: center;
    top: -30px;
    /* left: 100px; */
    font-size: 26px;
}
.title4 {
    position: relative;
    text-align: center;
    top: 108px;
    /* left: 100px; */
    font-size: 26px;
}
.mb-2 {
    margin-bottom: 1.5rem!important;
    font-size: 16px;
    font-weight: 600;
}
.page-section {
    margin-top: 140px;
}
@media (min-width: 992px) {
.col2-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    border: 1px solid #D8D8D8;
    
}
}

.row4 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    width: 100%;
    border: 1px solid #D8D8D8;
    border-left: none;
    border-right:none;
    border-top: none;
    border-bottom: none;
    border-collapse: collapse;
    
}
.row5 {
    padding: 22px 14px;
    display: flex;
}
.form-chek {
    color: #595959;
    font-weight: 300;
}
.form1 {
    margin-top: 195px;
}
.form-select {
    display: block;
    width: 94%;
    border-radius: 2px;
    position: relative;
    left: 14px;
    top: -1px;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: -0.625rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.formchek22 {
    position: relative;
    left: 14px;
    top: -10px;
}
.formchek23 {
    position: relative;
    left: 18px;
    top: 2px;
}
.form-label {
    margin-bottom: 1.5rem;
    margin-left: 15px;
    position: relative;
    top: 8px;
    /* width: 20%; */
    padding: 0 2px;
}
textarea.form-control {
    min-height: calc(2.5em + -0.25rem + 0px);
    position: relative;
    left: 14px;
    top: -10px;
    border-radius: 2px;
    width: 94%;
}
.form-check-input[type=radio] {
    border-radius: 50%;
    background-color: #DEDEDE;
}
.form-check-input[type=checkbox] {
    border-radius: 0.25em;
    background-color: #DEDEDE;
    position: relative;
    left: 14px;
}
label {
    display: inline-block;
    color: #09051E;
    font-size: 15px;
}
.form-floating>label {
    position: absolute;
    top: -30px;
    left: 0;
    color: #000000;
    font-weight: 300;
    width: 100%;
    height: 100%;
    padding: 1rem 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}
.form-floating>.form-control-plaintext:focus, .form-floating>.form-control-plaintext:not(:placeholder-shown), .form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
    width: 80%;
    height: 20px;
    border-radius: 2px;
    left: 13px;
    position: relative;
}
.text-muted2 {
    position: relative;
    top: 152px;
    color: #212529;
}
.text-muted3 {
    position: relative;
    top: 105px;
    left: -108px;
    color: #212529;
}
.text-muted4 {
    position: relative;
    top: 105px;
    left: 99px;
    color: #212529;
}
/* Portfolio */
#portfolio .container-fluid, #portfolio .container-sm, #portfolio .container-md, #portfolio .container-lg, #portfolio .container-xl, #portfolio .container-xxl {
    max-width: 1920px;
  }
  #portfolio .container-fluid .portfolio-box, #portfolio .container-sm .portfolio-box, #portfolio .container-md .portfolio-box, #portfolio .container-lg .portfolio-box, #portfolio .container-xl .portfolio-box, #portfolio .container-xxl .portfolio-box {
    position: relative;
    display: block;
  }
  #portfolio .container-fluid .portfolio-box .portfolio-box-caption, #portfolio .container-sm .portfolio-box .portfolio-box-caption, #portfolio .container-md .portfolio-box .portfolio-box-caption, #portfolio .container-lg .portfolio-box .portfolio-box-caption, #portfolio .container-xl .portfolio-box .portfolio-box-caption, #portfolio .container-xxl .portfolio-box .portfolio-box-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(40, 40, 40, 0.9);
    transition: opacity 0.25s ease;
    text-align: center;
  }
  #portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-category {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  #portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-name {
    font-size: 1.2rem;
  }
  #portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption, #portfolio .container-sm .portfolio-box:hover .portfolio-box-caption, #portfolio .container-md .portfolio-box:hover .portfolio-box-caption, #portfolio .container-lg .portfolio-box:hover .portfolio-box-caption, #portfolio .container-xl .portfolio-box:hover .portfolio-box-caption, #portfolio .container-xxl .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
  }
  @media (min-width: 768px){
  .row3-cols-md-3>* {
      flex: 0 0 auto;
      width: 24.333333%;
  }
  }
  .row3 {
    display: flex;
    padding: 3px 110px;
   
  }
  .img-fluid {
    max-width: 100%;
    height: 189px;
}
  .card {
    width: 18rem;
    border: none;
  }
  .card-img-top {
    width: 80%;
  }
  .card-body {
    padding: 15px 0;
  }
  .card-title {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
  }
  .card-text {
    font-size: 14px;
  }
  .founder {
    font-size: 15;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    color:#E94C4C;
  }
  @media (min-width: 992px) {
  .col-lg-5 {
      flex: 0 0 auto;
      width: 41.666667%;
      height: 79%;
      padding: 3px;
  }
  }
  .text-white1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #707173;
    font-weight: 100;
  }